<div class="wrapper">

  <div class="centered">
    <div class="bigTitle">Sortagram</div>
    <hr/>    
    
    <div class="wrapData" *ngIf="user">
      <div class="spacer"></div>
      <div class="profileWrapper">
        <img class="profile" src="{{user.profile_picture}}" alt="Foto de perfil - {{user.username}}" />
        <p class="username">{{user.username}}</p>
      </div>
      <div class="userInfo">
        <p><small>{{user.bio}}</small></p>
        <p>Siguiendo: <strong>{{ user.counts.follows }}</strong></p> 
        <p>Seguidores: <strong>{{ user.counts.followed_by}}</strong></p>  
      </div>
    </div>
  </div>

  <div class="solid" *ngIf="pics">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let tile of photo; let i = index;"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">
            <span class="spanvalues" *ngIf="tile.cols > 1">
              <img src="{{ pics[i].images.standard_resolution.url}}" class="image">
            </span>
            <span class="spanvalues" *ngIf="tile.cols == 1">
              <img src="{{ pics[i].images.low_resolution.url}}" class="image">
            </span>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>