.wrapper {
	margin: 70px;	
}
.solid {
	border: 5px solid #000;
}

::ng-deep .mat-figure {
	display: block !important;
}

.centered {
	text-align: center;
}

.bigTitle {
	font-size: 56px; font-family: 'Work Sans';
}

.wrapData {
	display: flex;
}

.spacer {
	width: 30%;
}

.profileWrapper {
	width: 22%;
}

.profile {
	border-radius: 50%;
}

.username {
	font-size: 16px; font-weight: 900;
}

.userInfo {
	padding-top: 10px; width: auto; text-align: left !important; font-family: 'Work Sans';
}

.image {
	width: 100%; height: 100%; object-fit: cover;
}